body {
	background: #fff;
	color: #333;
	font-size: 87,5%;
}

header, footer {
	display:block;
}

a {

}

a:hover {
}

h1 {
}

h2 {
	padding: 20px 0 0;
}

p {
	border: 1px solid #666;
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
}

.container_24 {
	
}