<section id="heading_row">
	
	<div class="block">
		<h3>stop the drama</h3>
		<p>Feeling like you’ve missed something when you were offline?</p>
		<p>Tired of reading the whole text before you follow the link because of that clueless bit.ly goo.gl tl.gd blabla link-useful-but-crappy shorteners?</p>
		<p>Do you scream for help to filter all the useful resources you’ve got in your social media stream without visiting them?</p>
	</div>
	
	<div class="block">
		<h3>a 2 step process</h3>
	</div>
	
	<div class="block">
		<h3>grab links from</h3>
	</div>
	
</section>

<section id="more_stuff_row">
	<h3>Linkodrama is as easy as it looks</h3>
	<h3>future features</h3>
	<h3>latest news</h3>
</section>