<div id="home-heading" class="section container_24">
	
	<div class="block grid_10 suffix_1 stop-drama">
		<h3>Stop the drama</h3>
		<p>Feeling like you’ve <strong>missed something</strong> when you were offline?</p>
		<p>Tired of reading the whole text before you follow the link because of that clueless bit.ly goo.gl tl.gd blabla link-useful-but-crappy shorteners?</p>
		<p>Do you scream for help to filter all the <strong>useful resources</strong> you’ve got in your social media stream without visiting them?</p>
	</div>
	
	<div class="block grid_5 suffix_1 two-step">
		<h3>A 2-step process</h3>
		<ul>
			<li class="unlock">Authorize Linkodrama</li>
			<li class="check">Come back and enjoy your stored links</li>
		</ul>
	</div>
	
	<div class="block grid_7 grab-from">
		<h3>Grab links from...</h3>
		<p class="provider-button"><a href="auth/twitter" class="twitter"><span>Your Twitter account ›</span></a></p>
		<p class="provider-button"><a href="#" class="facebook"><span>Coming soon...</span></a></p>
	</div>
	<div class="clear"></div>
</div>

<div id="home-more" class="section container_24">
	<div class="block grid_10 suffix_1 as-easy">
		<h3>Linkodrama is as easy as it looks</h3>
		<p class="free">We store for you <strong>the last 500 links</strong> published in your social media streams <strong>for free</strong>.</p>
		<p>You don’t need to register since we are using <a href="http://oauth.net/">oAuth</a>. Just click the button, authorize the app and there you go! Now you will save time checking the resources shared in your social networks.</p>
	</div>
	
	<div class="block grid_5 suffix_1 future-features">
		<h3>Future features</h3>
		<p>We are working in some sweet pro features:</p>
		<ul>
			<li>More social sites</li>
			<li>Extra storage</li>
			<li>Link stats</li>
			<li>Multiple account support</li>
			<li>Export options</li>
		</ul>
	</div>
	
	<div class="block grid_7">
		<h3>Latest news</h3>

	</div>
	
	<div class="clear"></div>
	
</div>