<div id="footer" class="container_24">
	<p>Linkodrama is a serious service created in less than 48 hours in the context of the the Rails Rumble Contest. Please, be sure to read and agree their <%= link_to "Privacy Policy","http://r10.railsrumble.com/privacy-policy" %>. Ours is not yet ready.<br>
		Feel free to contact us at <%= link_to "linkodrama@gmail.com" , "mailto:linkodrama@gmail.com" %> and be dared to follow us for news and updates <%= link_to "@linkodrama" , "http://www.twitter.com/linkodrama" %></p>
</div>