<div id="footer" class="container_24">
	<p>Linkodrama is a serious service created in less than 48 hours in the context of the the Rails Rumble Contest. Please, be sure to read and agree their <%= link_to "Privacy Policy","http://r10.railsrumble.com/privacy-policy" %>. Ours is not yet ready.<br>
		Feel free to contact us at <%= link_to "linkodrama@gmail.com" , "mailto:linkodrama@gmail.com" %> and be dared to follow us for news and updates <%= link_to "@linkodrama" , "http://www.twitter.com/linkodrama" %></p>
</div>
<script type="text/javascript">
  var rumbleUrl = 'http://railsrumble.com';
</script>
<script type="text/javascript" src="http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"></script>

<!-- First, include the script and initialize the stats object. -->
<script type="text/javascript" src="http://www.soclnet.com/static/js/rumble.js"></script>
<script type="text/javascript">
    var stats = new CLStats("linkodrama"); // pass your application name here
</script>

<!-- Then, at some point on the page, call the record method and pass a string describing the action you want to track and the twitter screen name of the user who took the action. -->
<a id="inbox" href="/app/inbox/" onclick="stats.record('inbox', USER_TWITTER_Screen_Name)">Inbox</a> // pass the user's twitter screen name

<!-- Here's the same example for those who prefer to use jQuery. -->
<a id="inbox" href="/app/inbox/">Inbox</a>
<script type="text/javascript">
    $("a#inbox").click(function() {
        stats.record("inbox", USER_TWITTER_Screen_Name); // insert the variable that stores the user's twitter screen name
    });
</script>