<div id="header" class="container_24">
	<div class="grid_11">
		<h1>linkodrama</h1>
		<h2>Don't miss a <span>link</span></h2>
	</div>
	
	<div class="grid_13 counter">
		<h3>Here we have 15351051 links.</h3>
	</div>
	<div class="clear"></div>
	
</div>
